# ===========================
# Server
# ===========================

PORT=5000
NODE_ENV=development

# ===========================
# Database
# ===========================

MONGODB_URI=

# ===========================
# JWT
# ===========================

JWT_ACCESS_SECRET=
JWT_REFRESH_SECRET=

# ===========================
# Client
# ===========================

CLIENT_URL=http://localhost:3000

# ===========================
# Cloudinary
# ===========================

CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=

# ===========================
# Email
# ===========================

SMTP_HOST=
SMTP_PORT=
SMTP_USER=
SMTP_PASS=